Hello {{ recipient_name }},

{{ owner_name }} invited you to participate in a {{ workflow_label|lower }}.

{{ resource_name }}
{% if assignment_details %}
{{ assignment_details }}
{% endif %}
{% if deadline %}
Deadline: {{ deadline }}
{% endif %}

Use this email address to sign in or create your account and accept the invite.
{% if resource_url or app_url %}
Open invitation: {{ resource_url or app_url }}
{% endif %}
