Hello {{ recipient_name }},

{{ expert_name }} ({{ expert_email }}) accepted the invite for your {{ resource_kind }} "{{ resource_name }}".
{% if action_url %}

View in CompetencyHub: {{ action_url }}
{% elif app_url %}

Open CompetencyHub: {{ app_url }}
{% endif %}
